@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom variables here if needed */
:root {
  --font-size: 16px;
  --radius: 0.75rem;
}

body {
  @apply bg-white text-black;
  font-size: var(--font-size);
  scroll-behavior: smooth;
}
